<% provide(:title, 'Health一覧') %>
<% provide(:home, '') %>
<% provide(:navbar_text, 'black') %>

<div class="container-fluid">
  
  <h1 class="text-center health-top">Health</h1>
  <div>
    <table class="table table-bordered table-condensed table-hover table-striped" id="table-healths">
      <thead>
        <tr>
          <th rowspan="2">日付</th>
          <th rowspan="2">曜日</th>
          <th colspan="2">体情報</th>
          <th colspan="3">睡眠情報</th>
          <th colspan="2">その他</th>
          <th rowspan="2">編集</th>
        </tr>
        <tr>
          <th >体重</th>
          <th>体脂肪</th>
          <th>起床時間</th>
          <th>就寝時間</th>
          <th>睡眠時間</th>
          <th>お通じ</th>
          <th>水分</th>
        </tr>
      </thead>
  
      <tbody>
        <% @healths.each do |h| %>
          <tr>
            <td class='<%= css_class(h.day) %>'><%= l(h.day, format: :short) %></td>
            <td class='<%= css_class(h.day) %>'>
              <%= $days_of_the_week[h.day.wday] %>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  