@import "bootstrap";

// 背景画像（home, login, session/new）
.img {
  background-repeat:  no-repeat; 
  background-image: image-url("note_4.jpg");
  height: 1370px;
  background-size:cover;
}

@media only screen and (max-width: 767px) {
  .img {
    background-image:  image-url("note_4.jpg");
  }
}


// 背景色(articles)
.bg-article {
  background-repeat:  no-repeat; 
  background-color: #f1f1f185;
  height: 800px;
  background-size:cover;
}

// 背景色(healths)
.bg-health {
  background-repeat:  no-repeat; 
  background-color: white;
  height: 800px;
  background-size:cover;
}

// ナビバー色変更
/* 白 */ 
.white {
  color: white;
}

a.nav-link.white:hover {
    color: silver;
}

a.navbar-brand.white:hover {
    color: silver;
}

.navbar-toggler-icon.white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220,220,220)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* 黒 */ 
.black {
  color: black;
}

a.nav-link.black:hover {
    color: silver;
}

a.navbar-brand.black:hover {
    color: silver;
}

.navbar-toggler-icon.black {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


// ページネーション
.pagination {
  justify-content: center;
}


// diary-page index 投稿一覧
.index-div {
  width: 90%;
  margin: auto;
}

.posts-index-item {
  padding: 10px 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: flex;
}

.text-black {
  color: black;
}

.list-date {
  padding: 10px;
}

.index-article {
  width: 95%;
  padding-left: 20px;
}

.day {
  margin-bottom: 0;
  font-size: 26px;
  text-align: center;
}

.week {
  margin-bottom: 0;
  text-align: center;
}

.updated_at {
  text-align: right;
  font-size: 11px;
  margin-bottom: 10px;
}

.content {
  text-align: left;
  margin-bottom: 0;
}

.posts-index-item.mb-3:hover {
  background: #ffffffa3;
}

.index-div a:hover {
  text-decoration: none;
}

.diary-edit-button {
  display: inline-block;
  padding: 0.3em 1em;
  color: #0dc641;
  border: solid 2px #0dc641;
  border-radius: 3px;
  transition: .4s;
}

.diary-edit-button:hover {
  background: #0dc641;
  color: white;
}

.diary-delete-button {
  display: inline-block;
  padding: 0.3em 1em;
  color: #ed3434;
  border: solid 2px #ed3434;
  border-radius: 3px;
  transition: .4s;
}

.diary-delete-button:hover {
  background: #ed3434;
  color: white;
}

// diary-page show
.show-title {
  color: black;
}

.show-title:hover {
  color: silver;
  text-decoration: none;
}

.line-top {
  margin-bottom: 0;
}

.line-bottom {
  margin-top: 0;
}

.show-width {
  width: 90%;
}

.diary-flex {
  display: flex;
}

.diary-show-item {
  padding: 20px 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  margin-bottom: 10px;
}

.diary-show-content {
  border: 1px solid lightgray;
  padding: 10px;
}

.diary-day {
  background: #ffffff;
  height: 130px;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  margin-bottom: 20px;
  border-left: double 7px #4ec4d3;/*左線*/
  border-right: double 7px #4ec4d3;/*右線*/
}

.show-text-area {
  height: 550px;
  overflow: scroll;
}

// diary-page edit new
.form_edit {
  width: 95%;
}

.form {
  background-color: white;
  padding: 20px 20px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.lead {
  padding: 2px;
}


// フォームテキストの色合い(home, login, session/new)
.form-text{
  background-color:#ffffffd1;  
}



// トップページ

.button_wrapper{
  text-align:center;
}

.centering {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.button {
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 16px;
  opacity: 0.8;
}

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.ml-12 {
  margin-left: 12%;
}


.wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 400px;
  margin-top: -200px;
  overflow: hidden;
  
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    overflow: hidden;
    
    &.form-success{
        .container{
            h1{
                transform: translateY(85px);
            }
        }
    }
}


// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}



// Healthページ

.health-top {
  margin: 30px 0;
}

.health-graph-item {
  padding: 10px 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.health-body-item {
  padding: 10px 50px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-edit-center{
  text-align: center;
}

.present-body {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.weight {
  width: 50%;
  border: solid black;
}

.body-fat {
  width: 50%;
  border: solid black;
}

.goal-mb {
  margin-bottom: 0;
}

.goal-font {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}

.goal-name {
  font-size: 12px;
}

.target p{
  display: inline-block;
}

.goal-integer {
  width: 100px;
  margin-bottom: 0;
  text-align: center;
  font-size: 25px;
}

.btn-center {
  text-align: center;
}

#table-healths {
  table-layout: fixed;
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.modal-guidance {
  max-width: 1000px;
}

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}

.btn-circle-flat:hover {
  background: #668ad8;
}

.modal-width {
  max-width: 800px;
}

.modal-header {
  .modal-title {
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-header .close {
    padding: 0;
    margin: 0 ;
}

.mmodal-sub-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-sub-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-content {
  height: 500px;
}

/* 登録メニュー */
.d-flex {
  display: flex;
}

.btn-body {
  text-align: center;
}

.btn-sleep {
    margin-left: auto;
    margin-right: 2.5%;
}

.btn-water {
    margin-right: auto;
    margin-left: 2.5%;
}