@import "bootstrap";

// 背景画像（home, login, session/new）
.img {
  background-repeat:  no-repeat; 
  background-image: image-url("note_4.jpg");
  height: 1370px;
  background-size:cover;
}

@media only screen and (max-width: 767px) {
  .img {
    background-image:  image-url("note_4.jpg");
  }
}


// 背景色(articles)
.bg-img {
  background-repeat:  no-repeat; 
  background-color: #f1f1f1;
  height: 800px;
  background-size:cover;
}

// ナビバー色変更
/* 白 */ 
.white {
  color: white;
}

a.nav-link.white:hover {
    color: silver;
}

a.navbar-brand.white:hover {
    color: silver;
}

.navbar-toggler-icon.white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220,220,220)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* 黒 */ 
.black {
  color: black;
}

a.nav-link.black:hover {
    color: silver;
}

a.navbar-brand.black:hover {
    color: silver;
}

.navbar-toggler-icon.black {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


// ページネーション
.pagination {
  justify-content: center;
}


// diary-page index 投稿一覧
.index-div {
  width: 90%;
  margin: auto;
}

.posts-index-item {
  padding: 10px 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: flex;
}

.text-black {
  color: black;
}

.list-date {
  padding: 10px;
}

.index-article {
  width: 95%;
  padding-left: 20px;
}

.day {
  margin-bottom: 0;
  font-size: 26px;
  text-align: center;
}

.week {
  margin-bottom: 0;
  text-align: center;
}

.updated_at {
  text-align: right;
  font-size: 11px;
  margin-bottom: 0;
}

.content {
  text-align: left;
  margin-bottom: 0;
}

a .posts-index-item.mb-3:hover {
  background: #d3d3d36b;
}

.index-div a:hover {
  text-decoration: none;
}

// diary-page show
.diary-flex {
  display: flex;
}

.posts-show-item {
  padding: 20px 20px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: flex;
}

.diary-day {
  background: #ffffff;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.h-400 {
  height: 550px;
}

// diary-page edit new
.form_edit {
  width: 95%;
}

.form {
  background-color: white;
  padding: 20px 20px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

// フォームテキストの色合い(home, login, session/new)
.form-text{
  background-color:#ffffffd1;  
}



// トップページ

.button_wrapper{
  text-align:center;
}

.centering {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.button {
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 16px;
  opacity: 0.8;
}

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.ml-12 {
  margin-left: 12%;
}


.wrapper {
  // background: linear-gradient(to bottom right, #fd80386e 0%, #f1814c33 100%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 400px;
  margin-top: -200px;
  overflow: hidden;
  
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    overflow: hidden;
    
    &.form-success{
        .container{
            h1{
                transform: translateY(85px);
            }
        }
    }
}


// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

