
@import "bootstrap";

// トップページ

.button_wrapper{
   text-align:center;
}

.centering {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.button {
  padding: 8px 20px;
  border: solid 2px #ddd;
  border-radius: 10px;
  font-size: 16px;
}

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}